@theme {
    --sp-red: #ED1B2F;
    --sp-yellow: #FEE103;
    --sp-orange: #FBAB18;
    --sp-blue: #003247;
    --sp-cyan: #0099BD;
    --sp-green: #00AE9D;
    --sp-dark-gray: #666666;
    --sp-light-gray: #999999;
}